# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/
*.log

# Environment variables
.env
.env.*
.env.local
.env.production

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# Database dumps
*.sql
*.dump

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ionic
www/
.ionic/
nul
